apache-cxf-soap-ws-provider/src/main/resources/wsdl/apache-cxf-soap-ws-provider.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.soap.cxf.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="OperationsImplService" targetNamespace="http://ws.soap.cxf.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.soap.cxf.com/" elementFormDefault="unqualified"
			targetNamespace="http://ws.soap.cxf.com/" version="1.0">

			<xs:element name="add" type="tns:add" />

			<xs:element name="addResponse" type="tns:addResponse" />

			<xs:element name="sub" type="tns:sub" />

			<xs:element name="subResponse" type="tns:subResponse" />

			<xs:complexType name="add">
				<xs:sequence>
					<xs:element name="arg0" type="xs:int" />
					<xs:element name="arg1" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="addResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="sub">
				<xs:sequence>
					<xs:element name="arg0" type="xs:int" />
					<xs:element name="arg1" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="subResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="add">
		<wsdl:part element="tns:add" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sub">
		<wsdl:part element="tns:sub" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="subResponse">
		<wsdl:part element="tns:subResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addResponse">
		<wsdl:part element="tns:addResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Operations">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add" name="add">
			</wsdl:input>
			<wsdl:output message="tns:addResponse" name="addResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sub">
			<wsdl:input message="tns:sub" name="sub">
			</wsdl:input>
			<wsdl:output message="tns:subResponse" name="subResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OperationsImplServiceSoapBinding"
		type="tns:Operations">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="add">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sub">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sub">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="subResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OperationsImplService">
		<wsdl:port binding="tns:OperationsImplServiceSoapBinding"
			name="OperationsImplPort">
			<soap:address
				location="http://localhost:8089/apache-cxf-soap-ws-provider/services/op" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>